.journey-container {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .profile-img {
    text-align: center;

    img {
      border: 10px solid $dark-green;
      border-radius: 2px;
      padding: 10px;
    }
  }

  .journey {
    margin-right: 40px;
  }

  ol {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .journey-container {
    flex-direction: column;

    .journey {
      margin-right: 0;
    }
  }
}
