nav {
  background-color: $green;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $off-black;

    li {
      float: left;

      &.active {
        background-color: $green;
      }

      &:hover {
        background-color: $dark-green;
      }

      a {
        display: block;
        color: $off-white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  }
}
